body {
  background-color: LightSkyBlue ;
  color: #00FF7F;
  font-family: 'Droid Sans', 'Helvetica', 'sans';
  font-size: 12pt;
  margin: 2ex 2em;
}

h1, h2, h3, h4 {
  color: #E9601A;
}

a {
  color: #00FF7F;
  text-decoration: underline;
}

div#datetime {
  font-size: 80%;
  text-align: right;
}
