<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Giris Sayfasi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
  <h1> HastApp Hosgeldiniz!</h1>
  <h2>Giris </h2>
  <form action="{{url_for('login')}}" method=post>
  <dl>
  	<dt>Kullanıcı ismi:
  	<dd><input type=text name=kullanici_ismi>
  	<dt>Sifre:
  	<dd><input type=text name=sifre>
  	<dd><input type=submit value=Giris>
  </dl>
  </form>
  <p> Üye değil misiniz?<br>
    <a href="{{ url_for('Signedup') }}">Üye olmak için tıklayın!</a>
  </p>
  <footer>
  	<p><a href="{{ url_for('Signin_as_adminstrator') }}">Yetkili girişi için tıklayınız!</a></p>
  </footer>
  </body>
</html>
