<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<title>Yetkili sayfasına hoşgeldiniz</title>
	</head>
		<body>
		<h1>Yetkili kullanıcı sayfasına hoşgeldiniz</h1>
			<form action="{{url_for('Signin_as_adminstrator')}}" method=post>

				Kullanıcı numarası<br>
				<input type="text" name="Kullanıcı numarası"><br>

				Parola giriniz:<br>
				<input type="password" name="Parola"><br>

				Kullanıcı türü seçiniz:<br>
				<select name= "Tür">
				  	<option value="Doktor">Doktor</option>
				  	<option value="Hemşire">Hemşire</option>
			  	</select><br><br>
				<input type="submit" value="Giriş">
			</form>
		</body>
</html>